.encabezadoPagina{
    background-color: rgba(164, 95, 5, 0.759);
    text-align: center;
    padding: 3px;
}
.portada{
    padding: 4px;
}
.container-fluid-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
.card{
    padding: 2px;
    width: 48%;

}    
.camposFoco{
    background-color: aqua;
}
